@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome! This ia a Jokes Website</h1>
    <p>Learn about how to joke around and be an funny guy.</a>.</p>
</div>
